In [1]:
# Imports for the project
import pandas as pd
import numpy as np
import glob

In [2]:
# Generalized file path so that we can just drop any csv into this folder for processing
file_path = glob.glob('Resources/*.csv')[0] 

# Read the data into a Pandas DataFrame and show it
assessment_data_df = pd.read_csv(file_path)
assessment_data_df.head()

,-,-.1,Screen 1,Screen 2: Problem 1,Screen 3: Problem 2.1,Screen 4: Problem 2.2,Screen 5: Problem 3.1,Screen 6: Problem 3.2,Screen 7: Problem 4,Screen 8: Problem 5,Screen 9: Problem 6.1,Screen 10: Problem 6.2,Screen 11: Problem 7.1,Screen 12: Problem 7.2,Screen 13: Problem 7.3,Screen 14: Problem 7.4,Screen 15: Reflection,-.2
0,Student #1,@student.org,NaN,1,4,3,2,2,2,1,1,1,2,2,1,2,4,https:///response/
1,Student #2,@student.org,NaN,1,4,4,4,2,4,4,1,3,4,2,1,1,4,https:///response/
2,Student #3,@student.org,NaN,4,4,4,3,2,3,1,1,4,4,4,4,4,4,https:///response/
3,Student #4,@student.org,NaN,4,4,4,4,4,2,1,1,2,2,2,1,2,4,https:///response/
4,Student #5,@student.org,NaN,4,4,4,4,4,4,1,4,4,4,4,3,2,4,https:///response/

In [3]:
# Remove the second and thrid columns because they are not needed
assessment_data_df = assessment_data_df.drop(assessment_data_df.columns[[1,2]], axis=1)

In [4]:

# Remove the last column because it is not needed
assessment_data_df = assessment_data_df.iloc[:,:-1]

# Show the dataframe
assessment_data_df.head()

,-,Screen 2: Problem 1,Screen 3: Problem 2.1,Screen 4: Problem 2.2,Screen 5: Problem 3.1,Screen 6: Problem 3.2,Screen 7: Problem 4,Screen 8: Problem 5,Screen 9: Problem 6.1,Screen 10: Problem 6.2,Screen 11: Problem 7.1,Screen 12: Problem 7.2,Screen 13: Problem 7.3,Screen 14: Problem 7.4,Screen 15: Reflection
0,Student #1,1,4,3,2,2,2,1,1,1,2,2,1,2,4
1,Student #2,1,4,4,4,2,4,4,1,3,4,2,1,1,4
2,Student #3,4,4,4,3,2,3,1,1,4,4,4,4,4,4
3,Student #4,4,4,4,4,4,2,1,1,2,2,2,1,2,4
4,Student #5,4,4,4,4,4,4,1,4,4,4,4,3,2,4

In [5]:
# Set the index to be the names of students
assessment_data_df.set_index(assessment_data_df.columns[0], inplace=True)

In [6]:
# Display the dataframe to confirm changes
assessment_data_df

,Screen 2: Problem 1,Screen 3: Problem 2.1,Screen 4: Problem 2.2,Screen 5: Problem 3.1,Screen 6: Problem 3.2,Screen 7: Problem 4,Screen 8: Problem 5,Screen 9: Problem 6.1,Screen 10: Problem 6.2,Screen 11: Problem 7.1,Screen 12: Problem 7.2,Screen 13: Problem 7.3,Screen 14: Problem 7.4,Screen 15: Reflection
-,,,,,,,,,,,,,,
Student #1,1,4,3,2,2,2,1,1,1,2,2,1,2,4
Student #2,1,4,4,4,2,4,4,1,3,4,2,1,1,4
Student #3,4,4,4,3,2,3,1,1,4,4,4,4,4,4
Student #4,4,4,4,4,4,2,1,1,2,2,2,1,2,4
Student #5,4,4,4,4,4,4,1,4,4,4,4,3,2,4
Student #6,4,-,-,-,-,-,-,-,-,-,-,-,-,-

In [7]:
# Replace blank answers with zeros
assessment_data_df.replace('-', 0, inplace=True)

In [8]:
# Change all data types to integers for future calculations
assessment_data_df = assessment_data_df.astype(int)

In [9]:
# Check data types to confirm changes
assessment_data_df.dtypes

Screen 2: Problem 1       int64
Screen 3: Problem 2.1     int64
Screen 4: Problem 2.2     int64
Screen 5: Problem 3.1     int64
Screen 6: Problem 3.2     int64
Screen 7: Problem 4       int64
Screen 8: Problem 5       int64
Screen 9: Problem 6.1     int64
Screen 10: Problem 6.2    int64
Screen 11: Problem 7.1    int64
Screen 12: Problem 7.2    int64
Screen 13: Problem 7.3    int64
Screen 14: Problem 7.4    int64
Screen 15: Reflection     int64
dtype: object

In [10]:
# Create a column for percentages on the assessment
assessment_data_df['Percentage'] = assessment_data_df.sum(axis=1)/(4*assessment_data_df.count(axis=1))

# Display the dataframe to confirm changes
assessment_data_df.head()

,Screen 2: Problem 1,Screen 3: Problem 2.1,Screen 4: Problem 2.2,Screen 5: Problem 3.1,Screen 6: Problem 3.2,Screen 7: Problem 4,Screen 8: Problem 5,Screen 9: Problem 6.1,Screen 10: Problem 6.2,Screen 11: Problem 7.1,Screen 12: Problem 7.2,Screen 13: Problem 7.3,Screen 14: Problem 7.4,Screen 15: Reflection,Percentage
-,,,,,,,,,,,,,,,
Student #1,1,4,3,2,2,2,1,1,1,2,2,1,2,4,0.500000
Student #2,1,4,4,4,2,4,4,1,3,4,2,1,1,4,0.696429
Student #3,4,4,4,3,2,3,1,1,4,4,4,4,4,4,0.821429
Student #4,4,4,4,4,4,2,1,1,2,2,2,1,2,4,0.660714
Student #5,4,4,4,4,4,4,1,4,4,4,4,3,2,4,0.892857

In [11]:
# Add a column for the raw points to award students on a quiz
assessment_data_df['Raw Total'] = assessment_data_df['Percentage']*4

# Display the dataframe to confirm changes
assessment_data_df.head()

,Screen 2: Problem 1,Screen 3: Problem 2.1,Screen 4: Problem 2.2,Screen 5: Problem 3.1,Screen 6: Problem 3.2,Screen 7: Problem 4,Screen 8: Problem 5,Screen 9: Problem 6.1,Screen 10: Problem 6.2,Screen 11: Problem 7.1,Screen 12: Problem 7.2,Screen 13: Problem 7.3,Screen 14: Problem 7.4,Screen 15: Reflection,Percentage,Raw Total
-,,,,,,,,,,,,,,,,
Student #1,1,4,3,2,2,2,1,1,1,2,2,1,2,4,0.500000,2.000000
Student #2,1,4,4,4,2,4,4,1,3,4,2,1,1,4,0.696429,2.785714
Student #3,4,4,4,3,2,3,1,1,4,4,4,4,4,4,0.821429,3.285714
Student #4,4,4,4,4,4,2,1,1,2,2,2,1,2,4,0.660714,2.642857
Student #5,4,4,4,4,4,4,1,4,4,4,4,3,2,4,0.892857,3.571429

In [12]:
# Calculate the mean of every column
avg_row = assessment_data_df.mean()

# Place the means of each column as a row at the bottom of the dataframe
assessment_data_df.loc['Mean'] = avg_row

# Display the dataframe to confirm changes
assessment_data_df

,Screen 2: Problem 1,Screen 3: Problem 2.1,Screen 4: Problem 2.2,Screen 5: Problem 3.1,Screen 6: Problem 3.2,Screen 7: Problem 4,Screen 8: Problem 5,Screen 9: Problem 6.1,Screen 10: Problem 6.2,Screen 11: Problem 7.1,Screen 12: Problem 7.2,Screen 13: Problem 7.3,Screen 14: Problem 7.4,Screen 15: Reflection,Percentage,Raw Total
-,,,,,,,,,,,,,,,,
Student #1,1.0,4.000000,3.000000,2.000000,2.000000,2.0,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,4.000000,0.500000,2.000000
Student #2,1.0,4.000000,4.000000,4.000000,2.000000,4.0,4.000000,1.000000,3.000000,4.000000,2.000000,1.000000,1.000000,4.000000,0.696429,2.785714
Student #3,4.0,4.000000,4.000000,3.000000,2.000000,3.0,1.000000,1.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,0.821429,3.285714
Student #4,4.0,4.000000,4.000000,4.000000,4.000000,2.0,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,4.000000,0.660714,2.642857
Student #5,4.0,4.000000,4.000000,4.000000,4.000000,4.0,1.000000,4.000000,4.000000,4.000000,4.000000,3.000000,2.000000,4.000000,0.892857,3.571429
Student #6,4.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.071429,0.285714
Mean,3.0,3.333333,3.166667,2.833333,2.333333,2.5,1.333333,1.333333,2.333333,2.666667,2.333333,1.666667,1.833333,3.333333,0.607143,2.428571

In [13]:
# Round values in the dataframe to the nearest hundreth
assessment_data_df = assessment_data_df.round(2)

# Display the dataframe to confirm changes
assessment_data_df

,Screen 2: Problem 1,Screen 3: Problem 2.1,Screen 4: Problem 2.2,Screen 5: Problem 3.1,Screen 6: Problem 3.2,Screen 7: Problem 4,Screen 8: Problem 5,Screen 9: Problem 6.1,Screen 10: Problem 6.2,Screen 11: Problem 7.1,Screen 12: Problem 7.2,Screen 13: Problem 7.3,Screen 14: Problem 7.4,Screen 15: Reflection,Percentage,Raw Total
-,,,,,,,,,,,,,,,,
Student #1,1.0,4.00,3.00,2.00,2.00,2.0,1.00,1.00,1.00,2.00,2.00,1.00,2.00,4.00,0.50,2.00
Student #2,1.0,4.00,4.00,4.00,2.00,4.0,4.00,1.00,3.00,4.00,2.00,1.00,1.00,4.00,0.70,2.79
Student #3,4.0,4.00,4.00,3.00,2.00,3.0,1.00,1.00,4.00,4.00,4.00,4.00,4.00,4.00,0.82,3.29
Student #4,4.0,4.00,4.00,4.00,4.00,2.0,1.00,1.00,2.00,2.00,2.00,1.00,2.00,4.00,0.66,2.64
Student #5,4.0,4.00,4.00,4.00,4.00,4.0,1.00,4.00,4.00,4.00,4.00,3.00,2.00,4.00,0.89,3.57
Student #6,4.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.07,0.29
Mean,3.0,3.33,3.17,2.83,2.33,2.5,1.33,1.33,2.33,2.67,2.33,1.67,1.83,3.33,0.61,2.43

In [14]:
# Save the transformed dataframe as a new csv file 
assessment_data_df.to_csv('Resources/cleaned_assessment_data.csv', encoding='utf8', index=True)